html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --blue: #3485FF;
    --light-blue: #E0ECFF;
    
    --grey-dark: #4D5E77;
    --grey-medium: #eaecf2;
    --grey-light: #E5EAF1;
    --grey-blue: #A1B2CD;
    
    --background:#F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    /* 1rem = 16px (user agent) = 100% (user agent)*/
    font-size: 62.5%; /* = 10px*/
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
    background-color: var(--background);
}

header{
    background-color: var(--overlay);
	height: 4em;
	color: var(--light-blue);
	margin-bottom: 1em;
}

header h1 {
    text-align: center;
    padding: 9px;
}

.container{
    overflow: hidden;
    width: 60%;
	height: 100%;
	margin: 0 auto;
}

.container form {
    width: 50%;
    margin: 0 auto;
}

/* ----------- form ------------- */
#form {
    text-align: center;
    border: .2rem solid var(--grey-blue);
    border-radius: .8rem;
    padding: .8rem;
    margin-bottom: 1.6rem;
    background-color: var(--grey-light);
}

#form input {
    width: 100%;
    margin: 0 auto;
    padding: .8rem;
    resize: none;
    outline: none;
    border: 0.2rem solid var(--grey-blue);
    border-radius: .4rem;
}

#form input::placeholder {
    color: var(--grey-blue);
}


/* ------------- button -------------- */
.button{
    height: auto;
    padding: 0.8rem 2.4rem;
    line-height: 2.4rem;
    border-radius: .8rem .8rem .8rem;
    margin-top: 1rem;
    color: var(--white);
    background-color: var(--blue);
}

.button:hover {
    filter: brightness(1.2);
}


/* ----------- error message ---------- */
#error-msg {
    color: var(--red);
    list-style-type: none;
}

h2 {
    text-align: center;
    padding: 1rem;
}

.div-list {
    border: .2rem solid var(--grey-blue);
    border-radius: .8rem;
    background-color: var(--white);
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

td, th {
    padding: .7em;
	margin: 0;
	text-align: center;
}


th {
    font-weight: bold;
    background-color: var(--grey-light); 
}

.warning {
    padding: .8rem;
    margin-bottom: 1.6rem;
    color: var(--grey-blue);
    text-align: center;
    font-size: 15px;
}